<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
 
 <listener class-name="Acedamy.Listeners"/>
 </listeners>
  <test name="validating title">
    <classes>
      <class name="Acedamy.validatetitle"/>
    </classes>
   </test>
   <test name="validating navigation">
   <classes>
      <class name="Acedamy.navbar"/>
   </classes>
   </test>
   <test name="validating user login">
   <classes>
      <class name="Acedamy.Homepage"/>
   </classes>
   </test> 
</suite> 
